@import "../../styles.scss";

@mixin topBars {
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: $contentWidth;
  height: 120px;
}

.navbar {
  display: flex;
  position: relative;
  @include topBars;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    height: 120px;
  }
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  img {
    height: 130px;
  }
}

.search {
  display: flex;
  z-index: 999;
  flex-direction: row-reverse;
  align-items: center;
  input[type="text"] {
    align-items: center;
    margin-right: 30px;
    right: 30px;
    height: 30px;
    width: 50px;
    transition: all 0.3s cubic-bezier(0,0,.20,0.6);
    border: 0;
    outline: none;
    background-color : $darkBlue;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    &::placeholder {
      color: white;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid white;
      width: 20vw;
    }
  }
  @include topBars;
}

