$yellow: #DCC48E;
$lightGreen: #E2E5D3;
$green: #B3C0A4; //might be an O not 0
$blue: #505168;
$darkBlue: #27233A;

@mixin topBars {
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 175px;
}

.navbar {
  background-color: $darkBlue;
  display: flex;
  position: relative;
  width: 100%;
  @include topBars;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid $blue;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
  }
}

.search {
  display: flex;
  position: relative;
  z-index: 999;
  flex-direction: row-reverse;
  align-items: center;
  @include topBars;
  input {
    align-items: center;
    margin-right: 30px;
    justify-content: center;
    right: 30px;
    height: 30px;
    width: 40px;
    &:focus {
      outline: none;
      width: 30vw;
      z-index: 1000;
    }
  }
}
