$yellow: #DCC48E;
$lightGreen: #E2E5D3;
$green: #B3C0A4; //might be an O not 0
$blue: #505168;
$darkBlue: #27233A;

.bodyContainer {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
