<div class="header-background">
  <div class="header">
    <h2>{{movieToShow?.title}}</h2>
  </div>
</div>
<div class="main-content">
  <div class="summary">
    <div>
      <div *ngFor="let paragraph of movieToShow?.summary">
        <p>{{paragraph}}</p>
      </div>
      <button (click)="toggle()" type="button" name="button">Spoilers On/Off</button>
      <h4 *ngIf="show">Movie Specific Spoiler Summary</h4>
      <div *ngFor="let paragraph of movieToShow?.spoilerSummary">
        <div *ngIf="show">
          <p>{{paragraph}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile">
    <img src="{{movieToShow?.coverPhoto}}" alt="">
    <h4>{{movieToShow?.title}}</h4>
    <p><span class="bold">Release Date:</span> {{movieToShow?.releaseDate}}</p>
    <p><span class="bold">Director:</span> {{movieToShow?.director}}</p>
    <p><span class="bold">Length:</span> {{movieToShow?.length}}</p>
    <p><span class="bold">Website:</span> {{movieToShow?.link}}</p>
    <div>
      <div *ngFor="let pic of movieToShow?.photos">
        <img *ngIf="show" src="{{pic}}">
      </div>
    </div>
  </div>
</div>
