@import "../../styles.scss";

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.header-background {
  background-image: url(../../assets/img/hogwarts-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 1%;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 30px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 72%;
  max-width: $contentWidth;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
}

.summary {
margin-right: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

button {
  background-color: $yellow;
  width: 30%;
  height: 40px;
  border: none;
  margin: {
    left: auto;
    right: auto;
    top: 15px;
    bottom: 15px;
  }
  transition: all 0.3s cubic-bezier(0,0,.20,0.6);
  border-radius: 5px;
  font: {
    family: 'Dosis', sans-serif;
    size: 16px;
    weight: bold;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: darken($yellow, 20%);
  }
}

.profile {
  width: 27%;
  img {
    width: 100%;
  }
}

h4 {
  text-align: center;
}
