.background {
  background-color: darken(#DCC48E, 6%);
  opacity: .5;
  z-index: 0;
  width: 40%;
  margin: {
    left: auto;
    right: auto;
  }
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  // width: 40%;
  height: auto;
  padding: 2vw;
  color: black;
  z-index: 1;
  margin: {
    left: auto;
    right: auto;
    bottom: 30px;
  }

}
input {
  height: 30px;
  border: 0;
  border-radius: 3px;
  font: {
    family: 'Dosis', sans-serif;
    size: 16px;
  }
  background-color: white;
}
textarea {
  border: 0;
  border-radius: 3px;
  font: {
    family: 'Dosis', sans-serif;
    size: 16px;
  }
  background-color: white;
}
button {
  align-self: center;
  margin-top: 3vw;
  width: 40%;
  height: 3em;
  background-color: #27233A;
  color: white;
  border: 1px solid lighten(#505168, 10%);
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0,0,.25,1);
  font: {
    family: 'Dosis', sans-serif;
    size: 16px;
  }
  &:hover {
    background-color: darken(#27233A, 12%);
  }
  a {
    color: white;
    text-decoration: none;
  }
}
