<div class="welcome-background">
  <div class="welcome-body">
    <h1>Welcome to the Spoiler-Free Harry Potter Wiki!</h1>
    <div class="link-body">
      <div class="category">
        <h2>Movies</h2>
        <div class="links" *ngFor="let movie of movies | async"  (click)="goToMovie(movie)">
          <p>{{movie.$key}}</p>
        </div>
      </div>
      <div class="category">
        <h2>Characters</h2>
        <div class="links" *ngFor="let character of characters | async"  (click)="goToCharacter(character)">
          <p>{{character.$key}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="adminButton">
  <a routerLink="admin">see admin</a>

</div>
