.welcome-background {
  background-image: url(../../assets/img/hogwarts-fog.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.welcome-body {
  padding-top: 70px;
}

.links {
  color: #505168;
  transition: all 0.3s cubic-bezier(0,0,.25,1);
  &:hover {
    cursor: pointer;
    color: darken(#505168, 40%);
  }
}

h1 {
  text-align: center;
  margin-top: 0;
}

.link-body {
  text-align: center;
}

.category {
  margin-bottom: 30px;
}
