.links {
  color: #505168;
  transition: all 0.3s cubic-bezier(0,0,.25,1);
  &:hover {
    cursor: pointer;
    color: #27233A;
  }
}

h1 {
  text-align: center;
  margin-top: 70px;
}

.link-body {
  text-align: center;
}

.category {
  margin-bottom: 30px;
}
