<div class="header-background">
  <div class="header">
    <h2>{{name}}</h2> <!--character name-->
  </div>
</div>
<div class="main-content">
  <div class="summary">
    <!--character summary populates here-->
  </div>
  <div class="profile">
    <h4>{{name}}</h4>
    <p><span class="bold">Date of Birth:</span> {{birthdate}}</p>
    <p><span class="bold">House:</span> {{house}}</p>
    <p><span class="bold">Family:</span> {{family}}</p>
    <p><span class="bold">First Appearance:</span> <span class="italic">{{firstAppearance}}</span></p>
    <p><span class="bold">Last Appearance:</span> <span class="italic">{{lastAppearance}}</span></p>
    <p>Portrayed By {{portrayedBy}}</p>
  </div>
</div>
