<div class="header-background">
  <div *ngFor="let character of characters | async" class="header">
    <h2>{{character.$key}}</h2>
  </div>
</div>
<select (change)="onChange($event.target.value)">
  <option value="1" selected="selected">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>
<div class="main-content" *ngFor="let character of characters | async">
  <div *ngFor="let film of character.charMovies" class="summary">
    <div *ngIf="film">
      <h4>Movie Specific Summary</h4>
      <div *ngFor="let summary of film.movieSpecificSummary | movie:filterByMovie">
        <p>{{summary}}</p>
      </div>
      <h4>Movie Specific Spoiler Summary</h4>
      <div *ngFor="let summary of film.movieSpecificSpoilerSummary | movie:filterByMovie">
        <p>{{summary}}</p>
      </div>
    </div>
  </div>
  <div class="profile" *ngFor="let film of character.charMovies">
    <div *ngIf="film">
      <img src="{{film.photo}}" alt="">
        <h4>{{film.name}}</h4>
        <p><span class="bold">Date of Birth:</span> {{film.birthdate}}</p>
        <p><span class="bold">House:</span> {{film.house}}</p>
        <p><span class="bold">Family:</span> {{film.family}}</p>
        <p><span class="bold">First Appearance:</span> <span class="italic">{{film.firstAppearance}}</span></p>
        <p><span class="bold">Last Appearance:</span> <span class="italic">{{lastAppearance}}</span></p>
        <p>Portrayed by {{film.portrayedBy}}</p>
    </div>
  </div>
</div>
